body {
    background: #f4f6fb;
    font-family: Segoe UI;
}

/* Sidebar */

#sidebar-wrapper {
    min-height: 100vh;
    width: 230px;
}

.list-group-item {
    border: none;
}

    .list-group-item:hover {
        background: #495057;
    }

/* Content */

#page-content-wrapper {
    width: 100%;
}

/* Cards */

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

/* Tables */

.table {
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

/* Buttons */

.btn {
    border-radius: 6px;
}
